body{
    margin:0;
    padding: 0;
    background: #F4ECF7;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    width: 120px;
    height: 48px;
}
.title-principal{
    color: #581845;
}
.sections-mensajes{
    display: flex;
    justify-content: space-evenly;
}

.section-encriptar{
    width: 60%;
    padding: 20px;
}
.section-encriptar textarea{
    width: 100%;
    height: 65%;
    background: #F4ECF7;
    border-color: #F4ECF7;
    resize: none;
    padding: 30px;
    font-size: 30px;
    box-sizing: content-box;
}
.encriptar-mensaje::placeholder{
    text-align:center;
    line-height: 100px;
    font-size: 32px;
}
.encriptar-mensaje{
    width: 100%;
    height: 80%;
}
.encriptar-mensaje:focus{
    outline: none;
}
.content-buttons{
    display: flex;
    flex-direction: column;
    gap:2px;
}
.mensajeInfor{
    color:#58184588;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    font-weight: bold;
}

.buttons{
    width: 680px;
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-encriptar, .btn-desencriptar {
    width: 328px;
    height: 67px;
    border-radius:24px;
    background: #581845;
    color:white;
}
.btn-desencriptar{
    background: #58184588;
}
.section-desencriptar{
    width:400px;
    height:600px;
    background: white;
    border-radius: 32px;
    
}
.no-mensaje{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mensaje-no-encontrado{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.mensaje-instrucciones{
    font-size: 16px;
    color:#58184588;
    text-align: center;
}
.resultado-encriptado{
    width: 100%;
    height: 90%;
    flex-direction: column;
    place-items: center;
    gap: 16px;
}

.desencriptar-mensaje{
    width: 80%;
    height: 100%;
    border-radius: 20px;
    resize: none;
    padding: 20px;
    font-size: 20px;
    border-color: transparent;
}
.desencriptar-mensaje:focus{
    outline: none;
}
.btn-copiar{
    width: 328px;
    height: 67px;
    border-radius:24px;
    background: #58184588;
    color:white;
}

.copyright{
    background: #581845;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
}