body{
    margin:0;
    padding: 0;
    background: #F4ECF7;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    width: 120px;
    height: 48px;
}
.title-principal{
    color: #581845;
}
.sections-mensajes{
    display: flex;
    height: 75vh;
    justify-content: space-evenly;
}

.section-encriptar{
    width: 60%;
    padding: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
textarea{
    width: 100%;
    height: 70%;
    background: #F4ECF7;
    border-color: transparent;
    resize: none;
    font-size: 30px;
    box-sizing: content-box;
}

.encriptar-mensaje{
    width: 100%;
    height: 80%;
}
.encriptar-mensaje::placeholder{
    font-size: 30px;
}
.encriptar-mensaje:focus{
    outline: none;
}
.content-buttons{
    display: flex;
    flex-direction: column;
    gap:2px;
}
.mensajeInfor{
    color:#58184588;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    font-weight: bold;
}

.buttons{
    width: 680px;
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-encriptar, .btn-desencriptar {
    width: 328px;
    height: 67px;
    border-radius:24px;
    background: #581845;
    color:white;
}
.btn-desencriptar{
    background: #58184588;
}
.section-desencriptar{
    width:400px;
    background: white;
    border-radius: 32px;
    box-shadow: 5px 10px 15px 1px #888888;
    
}
.no-mensaje{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mensaje-no-encontrado{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.mensaje-instrucciones{
    font-size: 16px;
    color:#58184588;
    text-align: center;
}
.resultado-encriptado{
    width: 100%;
    height: 90%;
    flex-direction: column;
    place-items: center;
    gap: 16px;
}

.desencriptar-mensaje{
    width: 80%;
    height: 100%;
    border-radius: 20px;
    background: white;
    resize: none;
    padding: 20px;
    font-size: 20px;
    border-color: transparent;
}
.desencriptar-mensaje:focus{
    outline: none;
}
.btn-copiar{
    width: 328px;
    height: 67px;
    border-radius:24px;
    background: #58184588;
    color:white;
}

.copyright{
    background: #581845;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
@media screen and (min-width: 768px) and (max-width: 1120px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sections-mensajes{
        width: 90%;
        height: 100vh;
        flex-direction: column;
    }
    .section-encriptar{
        width: auto;
        height: 30vh;
     
    }
    .encriptar-mensaje{
        width: auto;
        
    }
    .icono{
        display: flex;
        align-self: self-start;
    }
   .no-mensaje > img{
    display: none;
   }
    .content-buttons{
        align-items: center;
    }
    .section-desencriptar{
        width: auto;
        height: auto;
    }
    footer{
        display: none; 
    }
  }

@media screen and (max-width: 767px){
   header{
    padding: 10px;
   }
    .title-principal{
        font-size: 20px;
    }
    .sections-mensajes{
        flex-direction: column;
    }
    .section-encriptar {
        width: auto;
        height: 65%;
    }
    .encriptar-mensaje::placeholder{
        font-size: 20px;
    }
    .no-mensaje > img{
        display: none;
    }
    .buttons{
        width: auto;
        flex-direction: column;
    }
    .section-desencriptar{
        width: auto;
        height: auto;
    }
    .btn-copiar, .btn-desencriptar, .btn-encriptar{
        width: 279px;
    }
}